/*Form styles*/
.forms-wrapper{
    max-width: 700px;
    margin:auto;
}
#age-first-form {
    width: 40px;
}
.long-input-string {
    width: 250px;
}


/*Table styles*/
.first-table-wrapper {
    max-width: 900px;
    margin:30px auto;
}
table, td, th {
    border: 1px solid black;
}

.second-table-wrapper {
    max-width: 700px;
    margin: auto;
}
.third-table-wrapper {
    max-width: 700px;
    margin:30px auto;
}
.third-table-wrapper table,td,th{
    border-collapse: collapse;
}